node_modules
.idea/
*.iml
*.log
dist/
package-lock.json
compilation-stats.json
cypress/videos/
cypress/screenshots/
src/**/*.less.d.ts

coverage/

# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
